<div class="mainEmployee">
    <div class="container-fluid">
        <div class="row">

            <div class="pull-left">
                <div class="cattitle"><h3> {{'Employee'| translate}}</h3> </div>
                <span ng-if="vv.message" class="label-info">{{vv.message}}</span>
            </div>




            <div class="clr"></div>

        </div>
    </div>
    <div ng-if="vv.elisttype">
        <div class="row">
            <div class="col-md-3 mainlist mainlist2" ng-repeat="type in vv.elisttype">
                <button type="button" class="btn btn-success btn-lg btn-block" ng-click="vv.goToElist(type.id)">{{type.title}}</button>
            </div>
        </div>
    </div>


    <add-employee-component itemid="vv.tid" on-add="vv.refresh()" ng-if="vv.group && vv.tid > 0"></add-employee-component>
    <div ng-if="(vv.elist |      json) !=      ({} |    json) &&   vv.tid >   0">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th >{{'Identification'| translate}}</th>
                    <th >{{'Employee name'| translate}}</th>
                    <th >{{'Position'| translate}}</th>
                    <th >{{'History'| translate}}</th>
                    <th >{{'EDIT'| translate}}</th>
                    <th >{{'DELETE'| translate}}</th>
                    <th >{{'Connect'| translate}}</th>
                    <th >{{'List'| translate}}</th>
                    <th >{{'Reports'| translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vv.elist">
                    <td>{{item.i_number}}</td>
                    <td>{{item.title}}</td>
                    <td>{{item.position}}</td>
                    <td >
                        <button type="button" class="btn-warning btn" ng-click="vv.getHistory(item)">
                            <span class="glyphicon glyphicon-info-sign"></span> {{'History'| translate}}
                        </button>
                    </td>
                    <td >
                        <button type="button" class="btn btn-success btn-info" ng-click="vv.editEmployee(item)">
                            <span class="glyphicon glyphicon-edit"></span> {{'EDIT'| translate}}
                        </button>
                    </td>
                    <td >
                        <button type="button" class="btn btn-success btn-del" ng-click="vv.deleteEmployee(item)">
                            <span class="glyphicon glyphicon-edit"></span> {{'DELETE'| translate}}
                        </button>
                    </td>
                    <td >
                        <button type="button" class="btn btn-warning" ng-click="vv.EmployeeItemRel(item)">
                            <span class="glyphicon glyphicon-edit"></span> {{'CONNECT'| translate}}
                        </button>
                    </td>
                    <td >
                        <button type="button" class="btn btn-warning" ng-click="vv.RelItems(item)">
                            <span class="glyphicon glyphicon-list"></span> {{'List'| translate}}
                        </button>
                    </td>
                    <td >
                        <a class='btn btn-default' ng-if="item.id" href="/index.php?option=com_mymenu&task=reports.getEmployeeReport&eid={{item.id}}" download="error{{item.id}}.xlsx"><span class="glyphicon glyphicon-download"></span> ჩამოტვირთვა</a>
                    </td>
                </tr>

            </tbody>

        </table>
    </div>
</div>
