<div class="row">

    <div class="col-md-12">
        <div class="form-group">
            <div class="add_btn">
                <div class="col-lg-2">

                    <input placeholder="{{'enter name'|translate}}" class="form-control" ng-model="modalm.name" type="text"/>

                </div>

                <div class="col-lg-2">
                    <input placeholder="{{'enter identification'|translate}}" class="form-control" ng-model="modalm.i_number" type="text" ng-change="modalm.checknumber()"/>
                </div>


                <div class="col-md-5">
                    <textarea placeholder="{{'position'|translate}}" class="form-control" rows="5" ng-model="modalm.position"></textarea>
                </div>
                <div class="col-md-1">
                    <button type="button" class="btn btn-success btn-add" ng-click="modalm.onSubmit()"><span class="glyphicon glyphicon-plus"></span> {{'Submit'| translate}}</button>
                </div> 
                <div class="clr"></div>
            </div>
        </div>

    </div>
</div>
