<div class="history">
    <div class="row">
            <table ng-if="modalm.employ" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>{{'ID'| translate}}</th>
                        <th>{{'Name'| translate}}</th>
                        <th>მიბმის თარიღი</th>
                        <th>ჩახსნის თარიღი</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in modalm.employ">
                        <td >{{item.item_id}}</td>
                        <td >{{item.itemname}}</td>
                       
                        <td >{{item.start_date}}</td>
                        <td >{{item.end_date}}</td>
                       
                    </tr>
                </tbody>
            </table>
</div>
</div>
