<div class="homepage">
    <div class="row">
        <div class="col-md-3 mainlist" ng-repeat="data in mm.cdata">

            <button type="button" class="btn btn-success btn-lg btn-block" ng-click="mm.putin(data.id);">
                <span ng-if="data.id == mm.activeId" class="glyphicon glyphicon-ok">

                </span>
                {{data.name}}
            </button>
        </div>

    </div>
</div>