<div class="list-for-items">
    <div class="list" ng-repeat="item in zl.items">{{item.id}}</div>
    <div class="list" ng-repeat="item in zl.items">{{item.title}}</div>
    <div class="list" ng-repeat="item in zl.items">{{item.description}}</div>
    <div class="list" ng-repeat="item in zl.items">{{item.setdate}}</div>
</div>
