@font-face {
    font-family: NINO_MTAV;
    src: url(fonts/bpg_nino_mtavruli_normal.ttf);
}   
@font-face {
    font-family: bpg_arial;
    src: url(fonts/bpg_arial.ttf);
}   
*{
    box-sizing: border-box;
    font-family: bpg_arial;
} 
body {
    padding-top: 50px;
    background-color: #f5f5f5;
}
a{
    cursor: pointer;
}
.clr{
    clear: both;
}
.nino_mtav{
    font-family: NINO_MTAV;
}
th{
    font-family: NINO_MTAV;
}
.bg-wight, .bg-white{
    background-color: #fff !important;
}
.bg-green{
    background-color: #0AA699 !important;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
} 
.btn-block
{
    width: 100%;
}
.modal-dialog{
    width: 900px;
}
.modal-dialog form > bootstrap-decorator{
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    float: left;
    width: 50%;
    height: 80px;
}
.modal-dialog form .control-label{
    font-family: NINO_MTAV;
}
@media (max-width: 1000px){
    .modal-dialog form > bootstrap-decorator{
        position: relative;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
        float: none;
        width: 100%;
    } 
}
.table{
    background-color: #fff;
}
.navbar-fixed-top{
    z-index:999;
}
.mainlist{
    margin-bottom: 20px;
    font-family: NINO_MTAV;
    min-height: 64px;
}

.mainlist button {
    font-family: NINO_MTAV;
    font-size: 16px;
    height: 75px;
    white-space: normal;
    background-color: #10ada0 !important;
}
.navbar-inverse{
    border: none;
    padding: 10px 10px 10px;
    background-color: #0aa699;
    color: #ffffff;
    margin-bottom: 20px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover{
    background-color: transparent;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand{
    color: #fff;
    font-family: NINO_MTAV;
}
.navbar-nav>li>a{
    padding: 0px; 
}
.margin40{
    margin-top: 40px;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}
.navbar-brand {
    float: left;
    height: auto;
    padding: 0px;
    font-size: 18px;
    line-height: 20px;
}
.navbar-nav li a{
    display: block; 
    margin-left: 20px;
}
.maincattd{
    cursor: pointer;
}

.label-info{
    background-color: transparent;
}

.btn {
    display: inline-block;
    margin-bottom: 0px;
    color: #fff;
    font-family: NINO_MTAV;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #0aa699;
    text-shadow: none;
    box-shadow: none;
    background-image: none;
    padding: 10px 12px 6px;
    border-radius: 3px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    font: 14px/20px;
    transition: all 0.12s linear 0s !important;
}
.btn-success {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 144, 217);
}
.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    background-color: rgb(0, 130, 212);
}
.maincategory .glyphicon{
    margin-right: 5px;
}
.maincategory .btn-group .btn, .btn-group{
    margin-bottom: 20px;
}

.homepage .btn-block{
    padding: 20px 20px 20px 22px;
}


.itemtitles{
    padding: 15px 15px 15px 15px;
    margin-top: -30px;
}
.itemtitles h4{
    color: #b5b5b5;
    font-family: NINO_MTAV;
    font-size: 16px;
}
.itemlistinfo{
    padding: 10px 0px;
    border-bottom: 1px #f5f5f5 solid;
    background-color: #fff;
}
.modal-content input[type=text]{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #282323;
    outline: 0;
    height: 16px;
    padding: 6px 11px!important;
    line-height: 15px;
    font-size: 13px;
    font-weight: normal;
    vertical-align: top;
    background-color: #ffffff;
    min-height: 37px;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #e5e9ec;
    transition: background 0.2s linear 0s,box-shadow 0.2s linear 0s;
}
.modal-content input[type=text]:focus{
    border-color: #f1f1f1;
    background-color: #f4f5f7;
    outline: 0!important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.modal-content{
    padding: 10px 20px;
}

.userlogout{
    margin-left: 15px;
    margin-top: 15px;
}
.userlogout .btn{
    padding: 2px 10px !important;
}

.dropdown-menu a{
    cursor: pointer;
}
textarea.form-control {
    height: 34px !important;
    width: 100% !important;
}
.add_btn{ 
    padding:10px;
    background-color:#ffffff;
    margin-bottom:20px;
}


.cattitle h3{
    font-family: NINO_MTAV;
    color: #2196F3;
    margin-bottom: 20px;
    margin-top: 8px;
}

.googleCoordInputs{
    margin-bottom: 15px;
}
.googleCoordInputs input{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #282323;
    outline: 0;
    width: 41.6%;
    height: 16px;
    padding: 6px 11px!important;
    line-height: 15px;
    font-size: 13px;
    font-weight: normal;
    vertical-align: top;
    background-color: #ffffff;
    min-height: 37px;
    -webkit-box-shadow: none!important;
    -moz-box-shadow: none!important;
    box-shadow: none!important;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #e5e9ec;
    transition: background 0.2s linear 0s,box-shadow 0.2s linear 0s;
    margin-right: 10px;
}
.googleCoordInputs label{
    margin-top: 7px;
    margin-right: 8px;
}
.googleCord{
    margin-bottom: 20px;
    clear: both;
}
.infomessege{
    margin-bottom: 30px;
}
.alert {
    color: #ce8f22;
    background-color: #fffcee;
    background-image: none;
    box-shadow: none;
    text-shadow: none;
    padding: 9px 19px 9px 15px;
    border-radius: 3px 3px 3px 3px;
    border: 1px solid #F0DBB4;
    -webkit-transition: all 0.2s linear 0s;
    transition: all 0.2s linear 0s;
    text-align: center;
}
.alert-danger, .alert-error {
    color: #e76e70;
    background-color: #fff6f4;
    border-color: #f8cdcd;
}
.alert-success {
    color: #438a85;
    background-color: #f3faf8;
    border-color: #bfd1cf;
}

.logoprop img{
}
footer{
    display: none;
} 
.angular-google-map-container { height: 400px; }

.table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
    border-width: 1px !important;
}
.navbar-nav{
    padding-top: 18px;
}
.btn-del{
    background-color: #f35958;
}
.btn-del:hover{
    background-color: #f74d4c;
}
.btn-file{
    background-color: #fbb05e;
}

.btn-back{
    background-color: #1F3853;
}
.btn-add{
    background-color: #0aa699;
}

#map {
    height:420px;
    width:100%;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
h2 {
    margin-bottom:10px;
    font-family: nino_mtav;
    margin-top: 0;
}

.history{
    text-align: right;
    position: relative;
}
.historymainbox{
    position: absolute;
    right: 15px;
    top: 30px;
    background-color: #fff;
    padding: 10px;
    z-index:998;
    border: 1px #ddd solid;
    border-radius: 8px;
}
.historylist{
    position:relative;
}
.historylist .table{
    margin-bottom: 0px;
    cursor: pointer;
}
.historylist .edited{
    display: none;
    position: absolute;
    background-color: #fff;
    padding: 5px;
    z-index: 99;
    border: 1px #d0d0d0 solid;
}
.historylist:hover .edited{
    display: block;
}

.mainlist2 button{
    white-space: break-spaces;
}