.multiselect .dropdown-menu{
    position: static;
    box-shadow: none;
    display: block;
    float:none;
    max-height:120px;
    overflow:auto;
}
.multiselect-labels a .glyphicon{
    color: #ccc;
}
.multiselect-labels a .glyphicon:hover{
    color: #fff;
}
.multiselect-labels .label{
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block;
    padding: 4px 6px;
}
.multiselect .dropdown-menu > li > a{
    white-space: normal;
}