<div class='col-md-4 form-group'>
   <!-- <select class='form-control'  ng-model="vv.selectedCategory" ng-change="vv.getcat(vv.selectedCategory)" multiple="multiple" size="4">
        <option selected="selected" value=""> {{'SELECT CATEGORY'| translate}}</option>
        <option ng-repeat="option in vv.company.categories track by $index" ng-value="option.id" >{{option.title}}</option>

    </select> -->
         <multiselect placeholder="Select categories..."
                   ms-model="vv.selectedCategory"
                   ms-change="vv.getcat(vv.selectedCategory)"
                   ms-config="multiselect.config"
                   ms-options="multiselect.options">
      </multiselect>
</div>


<div class='clr'></div>
<div id="map"></div>

<!--<ui-gmap-google-map center='vv.map.center' zoom='vv.map.zoom'
                    draggable="true" 
                    options="vv.options" 
                    bounds="vv.map.bounds"
                    >

    <ui-gmap-marker ng-repeat="marker in vv.randomMarkers | filter:{catid:vv.selectedCategory} track by $index" click="vv.openClick(marker.id,marker.catid,marker.title,marker.coords)" coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">

    </ui-gmap-marker>
    <ui-gmap-window options="vv.windowOptions"  closeClick="vv.closeClick()" coords='vv.takecoords' idKey="vv.takeid"
                    show="vv.show" isIconVisibleOnClick="'{{vv.hideicon}}'">
        <div>
            <map-slider ng-if="'vv.takeid > 0'" parent-id="'{{vv.takeid}}'" cat-id="'{{vv.takecatid}}'" title="'{{vv.taketitle}}'"></map-slider>
            <span>{{'ID' | translate}}</span>: <span>{{vv.takeid}}</span>
        </div>
    </ui-gmap-window>
</ui-gmap-google-map>-->
