<div ng-if='MyCtrl.src'>
<div class="bigimg">
    <img src="{{MyCtrl.src}}" width="350" height="200">
</div>
<div style="text-align: center; width: min-content; margin: auto; display: table;">
    <div ng-repeat="img in MyCtrl.arr" style="float: left;">
        <img src="{{img.src}}" width="35" height="20" ng-click="MyCtrl.getSrc(img.src)">
    </div>
    <div style="clear:both;"></div>
</div>
</div>
<div><a href="app.html#!/item/{{MyCtrl.parentId}}" class='myclass_{{MyCtrl.parentId}}' target="blank">{{MyCtrl.title}}</a></div>
   
    <div ng-repeat="par in MyCtrl.paramse">
        <span>{{par.vl_name}}<span> : <span ng-if='par.vl_opname'>{{par.vl_opname}}</span><span ng-if='!par.vl_opname'>{{par.vl_text_value}}</span>
    </div>




