<div class="">
    <div ng-if="vv.message">
        <div class="col-md-12 alert alert-success">
            <span class="label-info">{{vv.message|translate}}</span>
        </div>

    </div>


    <div class="form-group">
<div class="add_btn">
        <div class="col-lg-2">
            <datepicker date-format="yyyy-MM-dd">
                <input placeholder="{{'enter date'|translate}}" class="form-control" ng-model="vv.date" type="text"/>
            </datepicker>
        </div>

        <div class="col-lg-2">
            <select ng-model="vv.selectedType" class="form-control" name="drug_id" id="drug_name"
                     ng-options="option.id as option.name group by option.category_title for option  in vv.types"
                    >
<!--                <option ng-repeat="option group by option.category_title for option  in vv.types" ng-value="option.id">{{option.name}}</option>-->
            </select>
        </div>

        <div class="col-lg-2">
            <input type="text" placeholder="{{'Price'|translate}}" ng-model="vv.value" class="form-control" /> 
        </div> 
        <div class="col-md-5">
            <textarea placeholder="{{'description'|translate}}" class="form-control" rows="5" ng-model="vv.description"></textarea>
        </div>
     <div class="col-md-1">
            <button type="button" class="btn btn-success btn-add" ng-click="vv.onSubmit()"><span class="glyphicon glyphicon-plus"></span> {{'Submit' | translate}}</button>
        </div> 
    <div class="clr"></div>
    </div>
    </div>

</div>