<div class='col-md-6 form-group'>
        <select class='form-control'  ng-model="vv.selectedCategory" ng-change="Change()">
            <option selected="selected" value="" >{{'SELECT CATEGORY'| translate}}</option>
            <option ng-repeat="option in vv.company.categories track by $index" ng-value="option.id">{{option.title}}</option>
            

        </select>
</div>
<!--<div class='col-md-3'>
    <select class='form-control'  ng-model="vv.selectednumber" ng-if="vv.selectedCategory && vv.number[0].title">
        <option selected="selected" value="" >აირჩიე გვერდი (დაყოფა 100)</option>
        <option ng-repeat="val in vv.number track by $index" ng-value="{{val.id}}">{{val.title}}</option>
    </select>
</div>-->
<div class='col-md-3'>
<a class='btn btn-default' ng-if="vv.selectedCategory" href="/index.php?option=com_mymenu&task=reports.getCategoryReport&catid={{vv.selectedCategory}}&limit={{vv.selectednumber}}" download="error{{vv.selectedCategory}}.xlsx"> Download</a>
</div>
