<div class="history-list-block col-md-12">
    <div class="button-plus" ng-click="vv.openHistory()"><div class="btn btn-success btn-back pull-right"><span class="glyphicon glyphicon glyphicon-list-alt"><!--{{vv.butvl}}--></span> {{'history'| translate}}</div></div>
    <div ng-if="vv.isopen" class="historymainbox">
        <div> --- item --- </div>
        <div ng-repeat="list in vv.ihistory" class="historylist">
            <div ng-if="list.item_id == vv.itemid">
                <table class="table table-striped">
                    <thead>
                        <tr>

                            <th><span>id:</span></th> 
                            <th><span>ოპერაციის ტიპი:</span></th>
                            <th><span>ოპერაციის თარიღი:</span></th>
                            <th><span>ვისგან:</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span>{{vv.itemid}}</span></td>
                            <td><span>{{list.operation_type}}</span></td>
                            <td><span>{{list.operation_date}}</span></td>
                            <td><span>{{list.user_name}}</span></td>
                        </tr>
                    </tbody>
                </table>
                <div class="edited">
                    <center><h4 class="nino_mtav">შეცვლილია</h4></center>
                    <div class="updated_values" ng-repeat="val in list.json.values">
                        <span class="pull-left"><b>{{val.type| translate}}:</b></span> <span class="pull-right">{{val.value}}</span>
                    </div>
                    <div class="clr"></div>
                    <div class="additionals" ng-repeat="it in list.json.adds">
                        <span class="pull-left"><b>{{it.type| translate}}:</b></span> <span class="pull-right">{{it.value}}</span>
                    </div>
                    <div class="clr"></div>
                    <br>
                </div>
            </div>
        </div>

        <div> --- event --- </div>
        <div ng-repeat="list in vv.ehistory">
            <div ng-if="list.item_id == vv.itemid">

                <table class="table table-striped">
                    <thead>
                        <tr>

                            <th><span>id:</span></th>
                            <th><span>ოპერაციის ტიპი:</span></th>
                            <th><span>ოპერაციის თარიღი:</span></th>
                            <th><span>ვისგან:</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><span>{{vv.itemid}}</span></td>
                            <td><span>{{list.operation_type}}</span></td>
                            <td><span>{{list.operation_date}}</span></td>
                            <td><span>{{list.user_name}}</span></td>
                        </tr>
                    </tbody>
                </table>
                შეცვლილია:
                <div class="updated_values" ng-repeat="val in list.json.values">
                    <span>{{val.type| translate}}:</span> <span>{{val.value}}</span><br>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>
<div class="clr"></div>
<br>
