<div class="maincategory">
    <div class="container-fluid">
        <div class="row">

            <div class="pull-left">
                <div class="cattitle"><h3> {{vv.category.title}}</h3> </div>
                <span ng-if="vv.message" class="label-info">{{vv.message}}</span>
            </div>


            <div class="btn-group pull-right" role="group" aria-label="..." >
                <button type="button" ng-if="vv.group" class="btn btn-success bg-green" ng-click="vv.addItem()"><span class="glyphicon glyphicon-plus"></span>{{'Add'| translate}}</button>
            </div>

            <div class="clr"></div>

        </div>
    </div>
    <div class="search-block col-md-3">
        <div class="search-block-in">
            <select ng-model="vv.search.key" name="additional" class="form-control">
                <option value="">---{{'please_select'|translate}}---</option>
                <option value="id">იდენტიფიკატორი</option>
                <option ng-repeat="(key, additional) in vv.additionals" value="{{key}}">{{additional.title}}</option>
            </select>
        </div>
        <div class="search-block-in" ng-if="vv.search.key">
            <input class="search-box form-control" ng-model="vv.search.word" type="text" placeholder="{{'search_item'|translate}}" /><br>
        </div>
        <div class="search-block-in">
             
            <div class="form-check">
                <input class="checkbox chzn-choices" ng-model="vv.search.oprt" type="checkbox" ng-value="name" name="13" id="exampleCheck1"/>
                <label class="form-check-label" for="exampleCheck1">მოიცავს შ.მ.პ.გ</label>
            </div>
            <input class="button btn btn-default" type="submit" ng-click="vv.searchWord()" value="ძიება" />
            <input class="button btn btn-del" type="submit" ng-click="vv.clearSearchWord()" value="გასუფთავება" ng-if="vv.search.word"/>
        </div>
        <div class="clr"></div>
    </div>
    <div class="clr"></div>
    <div class="col-md-4">
    <div>
        <span>{{'Start Price Sum'| translate}}</span>:<span>{{vv.balancesum.price_sum}}</span>
    </div>
    <div>
        <span>{{'End Price Sum'| translate}}</span>:<span>{{vv.balancesum.endprice_sum}}</span>
    </div>
    </div>
    
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th ng-repeat="titles in vv.category.listingMap">{{titles.title| translate}}</th>
                <th >{{'Show'| translate}}</th>
                <th >{{'DELETE'| translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vv.items">
                <td ng-repeat="titles in vv.category.listingMap" ng-click="vv.goToItem(item.id)" class="maincattd">
                    {{item[titles.key]}}
                </td>
                <td><a class="btn btn-success" ng-click="vv.goToItem(item.id)" >{{'Details'| translate}} <span class="glyphicon glyphicon-chevron-right"></span></a></td>
                <td><a class="btn btn-warning" ng-click="vv.deleteItem(item.id)" >{{'DELETE'| translate}} <span class="glyphicon glyphicon-remove"></span></a></td>
            </tr>

        </tbody>

    </table>
    <ul uib-pagination total-items="vv.pagination.total" ng-model="vv.pagesCurrent" ng-click="vv.pageChanged()" max-size="5" items-per-page="vv.pagination.limit" boundary-links="true"  boundary-link-numbers="true" rotate="false"></ul>

</div>