<div class="row">
    <div class="col-md-12">
        <form name="myform" sf-schema="modalm.schema" sf-form="modalm.form" sf-model="modalm.model" ng-submit="modalm.onSubmit(myform)"></form>
    </div>
</div>
