<div class="maincategory">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
            <select ng-model="vv.filters.catid" class="form-control" name="drug_id" id="drug_name"
                    ng-options="option.id as option.title  for option  in vv.company.categories"
                    >

            </select>
                </div>
        </div>
        <div class="col-md-4">
            <input ng-model="vv.filters.title" type="text" placeholder="{{'TITLE'|translate}}" />
        </div>
        <div class="col-md-4">
            <button class="btn btn-primary" ng-click="vv.filter()" >{{'SEND'|translate}}</button>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th >{{'ID'| translate}}</th>
                <th >{{'TITLE'| translate}}</th>
                <th >{{'SELECT'| translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vv.items">
                <td class="maincattd">
                    {{item.id}}
                </td>
                <td class="maincattd">
                    {{item.name}}
                </td>
                <td>
                    <span ng-if="item.errorMessage">
                        {{item.errorMessage}}
                    </span>
                    <a class="btn btn-success" ng-if="!item.successMessage" ng-click="vv.linkItem(item)">{{'SELECT'| translate}} <span class="glyphicon glyphicon-check"></span></a>
                    <span ng-if="item.successMessage">
                        {{item.successMessage}}
                    </span>
                </td>
            </tr>

        </tbody>

    </table>
    <ul uib-pagination total-items="vv.pagination.total" ng-model="vv.pagesCurrent" ng-click="vv.pageChanged()" max-size="5" items-per-page="vv.pagination.limit" boundary-links="true"  boundary-link-numbers="true" rotate="false"></ul>

</div>