<div class="employeeRelList">
    <div class="row">
            <table ng-if="modalm.relatedItems" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>{{'ID'| translate}}</th>
                        <th>{{'Name'| translate}}</th>
                        <th>{{'CATEGORY'| translate}}</th>
                        <th>{{'Start Price Sum'| translate}}</th>
                        <th>{{'შტრიხ კოდი'| translate}}</th>
                        <th>{{'QUANTITY'| translate}}</th>
                        <th>{{'DELETE'| translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in modalm.relatedItems">
                        <td >{{item.id}}</td>
                        <td ><a ng-click="modalm.goToItem(item.id)">{{item.name}}</a></td>
                        <td >{{item.category_title}}</td>
                        <td >{{item.start_price}}</td>
                        <td >{{item.kcode}}</td>
                        <td >{{item.quantity}}</td>
                        <td >
                            <button type="button" class="btn btn-success btn-del" ng-click="modalm.deleteRelatedItem(item,modalm.item.id)">
                                <span class="glyphicon glyphicon-trash"></span> {{'DELETE'| translate}}
                            </button>
                        </td>

                    </tr>
                </tbody>
            </table>
    </div>
</div>

