<div class="dropdown">
    <button ng-click="vv.state = !vv.state" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <span class="glyphicon glyphicon-user" aria-hidden="true">
            <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" ng-show="vv.state"  style="display: block">
        <li class="dropdown-header"><span style="color: black">{{vv.user.name}}</span></li>

        <li role="separator" class="divider"></li>
        <li><a ng-click="vv.logout()">Logout</a></li>
    </ul>
</div>