<div class="homepage">
    <div class="row">
        <div class="col-md-3 mainlist" ng-repeat="category in vv.company.categories">
         
            <button type="button" class="btn btn-success btn-lg btn-block" ng-click="vv.goToCategory(category.relation_id)">
                  <span ng-if="vv.hasImage(category) && category.options.image">
                <img ng-src="{{category.options.image}}"/>
            </span> {{category.title}}
            </button>
        </div>
        
        <div class="col-md-3 mainlist" ng-if="vv.btn">
         
            <button type="button" class="btn btn-success btn-lg btn-block" ng-click="vv.goToEmployee()">
                  დაკავშირებები
            </button>
        </div>

    </div>
</div>
