<div class="">
    <div class="row">
        <div class="col-md-12">
            <span ng-if="modalm.message" class="label-info">{{modalm.message}}</span>
        </div>
        
    </div>
    <div class="row form-group">
        <div class="col-md-3">
            <span class="label-info">Operation type</span>
        </div>
        <div class="col-md-9">
            <select ng-model="modalm.selectedType" class="form-control" name="drug_id" id="drug_name">
                <option ng-repeat="option in modalm.types" ng-value="option.id">{{option.name}}</option>
            </select>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-3">
            <span class="label-info">Value type</span>
        </div> 
        <div class="col-md-9">
            <input type="text" placeholder="value" ng-model="modalm.value" class="form-control" /> 
        </div> 
    </div>
    <div class="row form-group">
        <div class="col-md-3">
            <span class="label-info">Description</span>
        </div> 
        <div class="col-md-9">
            <textarea placeholder="description" class="form-control" rows="5" ng-model="modalm.description"></textarea>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-12">
            <button type="button" class="btn btn-success" ng-click="modalm.onSubmit()">Submit</button>
        </div>    
    </div>

</div>