<div class="mainaddemployee">
    <div ng-if="vv.message">
        <div class="col-md-12 alert alert-success">
            <span class="label-info" data-ng-bind-html="vv.message|translate"></span>
        </div>

    </div>


    <div class="form-group">
<div class="add_btn">
        <div class="col-lg-2">
            
                <input placeholder="{{'enter name'|translate}}" class="form-control" ng-model="vv.name" type="text"/>
         
        </div>

        <div class="col-lg-2">
                <input placeholder="{{'enter identification'|translate}}" class="form-control" ng-model="vv.i_number" type="text" ng-change="vv.checknumber()"/>
        </div>

       
        <div class="col-md-5">
            <textarea placeholder="{{'position'|translate}}" class="form-control" rows="5" ng-model="vv.position"></textarea>
        </div>
     <div class="col-md-1">
            <button type="button" class="btn btn-success btn-add" ng-click="vv.onSubmit()"><span class="glyphicon glyphicon-plus"></span> {{'Submit' | translate}}</button>
        </div> 
    <div class="clr"></div>
    </div>
    </div>

</div>