<div class="date">
    <select  ng-model="vv.selectYear" ng-change="Changeyear()">
        <option selected="selected" value="" >{{'SELECT YEAR'| translate}}</option>
        <option ng-repeat="option in yearlist" ng-value="{{option}}">{{option}}</option>

    </select>
    <select  ng-model="vv.selectQuarter" ng-change="Change()">
        <option selected="selected" value="" >{{'SELECT QUARTER'| translate}}</option>
        <option ng-repeat="data in quarter" ng-value="{{data.id}}">{{data.name}}</option>

    </select>
    <div style="width: 300px;">
        <!--date-max-limit="{{maxDate}}"-->
            <datepicker date-format="yyyy-MM-dd" date-set="{{setdate}}">
                <input placeholder="{{'start date'|translate}}" class="form-control_date" ng-model="vv.data_from" type="text"/>
            </datepicker>
        </div>
        <div ng-if="vv.data_from" style="width: 300px;">
            <!-- date-min-limit="{{vv.data_from}}" date-max-limit="{{maxDate}}" -->
            <datepicker date-format="yyyy-MM-dd"  date-set="{{setdateto}}">
                <input placeholder="{{'end date'|translate}}" class="form-control_date" ng-model="vv.data_to" type="text"/>
            </datepicker>             
        </div>
    <div class="clr"></div>
   
    
        <div ng-if="(vv.data_from && vv.data_to) && (vv.data_from < vv.data_to)">
            <a class="btn btn-file" href="/index.php?option=com_mymenu&task=reports.balanceReport&from={{vv.data_from}}&to={{vv.data_to}}" download="error{{vv.data_from}}-{{vv.data_to}}.xlsx">Download</a>
        </div>

</div>