<div><input type="text" ng-model="ztext"></div>
<div><textarea ng-model="zdescription"></textarea></div>
<div><button ng-click="puton();">butt</button></div>
<div class="zuralizt">

    <div class="list-for-items">
        <div class="list" ng-repeat="item in zl.items"><a href="app.html#!/zura/{{item.id}}">{{item.title}}</a></div>

        <div class="list" ng-repeat="item in zl.items"><a href="app.html#!/zura/{{item.id}}">{{item.description}}</a></div>

        <div class="list" ng-repeat="item in zl.items"><a href="app.html#!/zura/{{item.id}}">{{item.setdate}}</a></div>
    </div>
    <!--<zura-test-list></zura-test-list>-->
</div>
