<div class="container-fluid infomessege" ng-if="vv.message">
    <div class="row">
        <div class="col-md-12 alert alert-error">
            <span class="label-info">{{vv.message}}</span>
        </div>
    </div>
</div>
<div class="clr"></div>
<div class="row">
    <div class="col-md-12">
        <div ng-if="vv.userInfoMessage" class="alert alert-success alert-dismissible" role="alert">
            <button type="button" ng-click="vv.userInfoMessage = null" class="close">×</button>
            <strong>{{vv.userInfoMessage}}</strong> 
        </div>
        <div ng-if="vv.userInfoError" class="alert alert-error alert-dismissible" role="alert">
            <button type="button" ng-click="vv.userInfoError = null" class="close">×</button>
            <strong>{{'ERROR'| translate}}!</strong> {{vv.userInfoError}}
        </div>
    </div>
</div>
<div class="row bg-wight itemtitles">
    <div class="col-sm-4 center" ng-repeat="titles in vv.item.itemMap">

        <h4>
            {{titles.title| translate}} : 
            <span ng-if="!titles.filter">{{vv.item[titles.key]}}</span>
            <span ng-if="titles.filter && titles.filter === 'currency'">{{vv.item[titles.key]| currency}}</span> 


        </h4>
    </div>
</div>
<br>
<div class="history">
    <history-list itemid="vv.itemId"></history-list>
</div>
<div class="col-md-12">
    <div class="pull-right">
    <a class="btn btn-success btn-back" href="app.html#!/category/{{vv.item.rel_catid}}"><span class='glyphicon glyphicon-indent-right'></span> {{'back to list'| translate}}</a>
    </div>
    <div class='clr'></div>
    <br/>
    <div class="pull-right">
    <a class='btn btn-default' href="/index.php?option=com_mymenu&task=reports.connections&itemid={{vv.item.id}}" download="error.xlsx"> კავშირის ჩამოტვირთვა</a>
    </div>
    <div class='clr'></div>
    <br>
    <button ng-click="vv.showMFinder = !vv.showMFinder" class="btn btn-success btn-file pull-left" style="margin-right:10px;"><span class="glyphicon glyphicon-paperclip"></span> {{'add file'| translate}} <span ng-if="vv.item.files_count">({{vv.item.files_count}})</span></button>
    <button ng-click="vv.showGMap = !vv.showGMap" class="btn btn-success pull-left"><span class="glyphicon glyphicon-globe"></span> {{'map'| translate}} </button>
    <div class="pull-right">
        <button ng-if="vv.group" ng-click="vv.edit()" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> {{'Edit'| translate}}</button>
    </div>
    
    

  
</div>
    <div class="clr"></div>
    <div ng-show="vv.showMFinder">

        <m-finder-component prim="vv.item.id" ></m-finder-component>
    </div>
    <div>
        <ui-gmap-google-map ng-if="vv.item.coords && vv.showGMap" center='vv.map.center' zoom='vv.map.zoom'
                            draggable="true" 
                            options="vv.options" 
                            bounds="vv.map.bounds"
                            >
            <ui-gmap-marker coords="vv.marker.coords" options="vv.marker.options" idkey="vv.marker.id">
            </ui-gmap-marker>
        </ui-gmap-google-map>
    </div>
    <div class="clr"></div>
</div>

<div class="container-fluid">
    <table class="table table-striped">
        <thead>
            <tr>
                <th ng-repeat="titles in vv.itemMap">{{titles.title}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in vv.items">
                <td ng-repeat="titles in vv.category.listingMap">{{item[titles.key]}}</td>
            </tr>
        </tbody>
    </table>

    <div ng-if="vv.item.additional" class="bg-white">

        <div ng-repeat="add in vv.item.additional" class="itemlistinfo col-md-6">
            <div class="col-md-5 nino_mtav">
                {{add.name}}:
            </div>
            <div class="col-md-7">
                {{add.value}}
            </div>
        </div>
        <div class="clr"></div>
    </div> 
    <br>
    <div class="clr"></div>
    <div class="row">
        <h2>{{'Events'| translate}}</h2>
        <add-event-component itemid="vv.item.id" on-add="vv.refresh()" ng-if="vv.group"></add-event-component>
        <table ng-if="vv.events.length" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>{{'name'| translate}}</th>
                    <th>{{'Price'| translate}}</th>
                    <th style="display:none;">{{'type'| translate}}</th>
                    <th>{{'date'| translate}}</th>
                    <th>{{'description'| translate}}</th>
                    <th>{{'EDIT'| translate}}</th>
                    <th>{{'FILES'| translate}}</th>
                    <th ng-if="vv.group">{{'DELETE'| translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in vv.events">
                    <td >{{item.name}}</td>
                    <td >{{item.value}}</td>
                    <td style="display:none;">{{item.type}}</td>
                    <td >{{item.date!='0000-00-00 00:00:00'?item.date:''}}</td>
                    <td >{{item.description}}</td>
                    <td >
                        <button type="button" class="btn btn-success btn-info" ng-click="vv.editEvent(item)">
                            <span class="glyphicon glyphicon-edit"></span> {{'EDIT'| translate}}
                        </button>
                    </td>
                    <td >
                        <button type="button" class="btn btn-success btn-file" ng-click="vv.eventFiles(item)">
                            <span class="glyphicon glyphicon-paperclip"></span> {{'FILES'| translate}}
                        </button>
                    </td>
                    <td ng-if="vv.group">
                        <button type="button" class="btn btn-success btn-del" ng-click="vv.deleteEvent(item)">
                            <span class="glyphicon glyphicon-trash"></span> {{'DELETE'| translate}}
                        </button>
                    </td>

                </tr>
            </tbody>
        </table>

        <div class="related">
            <h2>{{'related item'| translate}}</h2>
            <div clss="form-group">
                <div class="add_btn">
                    <div class="pull-right" role="group" aria-label="...">
                        <button type="button" class="btn btn-success btn-add" ng-click="vv.relatedItemModal()"><span class="glyphicon glyphicon-random"></span> {{'Add related item'| translate}}</button>
                    </div>
                    <div class="clr"></div>
                </div>
            </div>
            <table ng-if="vv.relatedItems.length" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>{{'ID'| translate}}</th>
                        <th>{{'Name'| translate}}</th>
                        <th>{{'CATEGORY'| translate}}</th>
                        <th>{{'Start Price Sum'| translate}}</th>
                        <th>{{'QUANTITY'| translate}}</th>
                        <th>{{'S_CODE'| translate}}</th>
                        <th>{{'DELETE'| translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in vv.relatedItems">
                        <td >{{item.id}}</td>
                        <td ><a ng-click="vv.goToItem(item.id)">{{item.name}}</a></td>
                        <td >{{item.category_title}}</td>
                        <td >{{item.start_price}}</td>
                        <td >{{item.kcode}}</td>
                        <td >{{item.quantity}}</td>
                        <td >
                            <button type="button" class="btn btn-success btn-del" ng-click="vv.deleteRelatedItem(item)">
                                <span class="glyphicon glyphicon-trash"></span> {{'DELETE'| translate}}
                            </button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>
        <div class="relatedemployee">
             <h2>{{'related employee'| translate}}</h2>
            <table ng-if="vv.relatedemployee.length" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>{{'identification number'| translate}}</th>
                        <th>{{'Name'| translate}}</th>
                        <th>{{'CATEGORY'| translate}}</th>
                        <th>{{'position'| translate}}</th>

                    </tr>
                </thead>
                 <tbody>
                    <tr ng-repeat="item in vv.relatedemployee">
                        <td >{{item.i_number}}</td>
                        <td ><a ng-click="vv.goToEmployItem(item.type_id)">{{item.name}}</a></td>
                        <td >{{item.category_title}}</td>
                        <td >{{item.position}}</td>
                        
                        <td >
                            <button type="button" class="btn btn-success btn-del" ng-click="vv.deleteEmployeeRelatedItem(item)">
                                <span class="glyphicon glyphicon-trash"></span> {{'DELETE'| translate}}
                            </button>
                        </td>

                    </tr>
                </tbody>
            </table>
        </div>

    </div>

    <div style='margin-bottom:30px'></div>
</div>