<div class="row">
    <div class="col-md-12">
            <div class="form-group">
<div class="add_btn">
        <div class="col-lg-2">
            <datepicker date-format="yyyy-MM-dd">
                <input placeholder="{{'enter date'|translate}}" class="form-control" ng-model="modalm.date" type="text"/>
            </datepicker>
        </div>

        <div class="col-lg-2">
            <select ng-model="modalm.selectedType" class="form-control" name="drug_id" id="drug_name"
                     ng-options="option.id as option.name group by option.category_title for option  in modalm.types"
                    >
<!--                <option ng-repeat="option group by option.category_title for option  in vv.types" ng-value="option.id">{{option.name}}</option>-->
            </select>
        </div>

        <div class="col-lg-2">
            <input type="text" placeholder="{{'VALUE'|translate}}" ng-model="modalm.value" class="form-control" /> 
        </div> 
        <div class="col-md-5">
            <textarea placeholder="{{'description'|translate}}" class="form-control" rows="5" ng-model="modalm.description"></textarea>
        </div>
     <div class="col-md-1">
            <button type="button" class="btn btn-success btn-add" ng-click="modalm.onSubmit()"><span class="glyphicon glyphicon-plus"></span> {{'EDIT' | translate}}</button>
        </div> 
    <div class="clr"></div>
    </div>
    </div>
    </div>
</div>
