<div class="">
    <div class="modal-header ng-scope">
        <h3 class="modal-title" id="modal-title">{{'are you sure you wont delete'|translate}}</h3>
    </div>
   
    <div class="modal-footer ng-scope">
        <button class="btn btn-primary" type="button" ng-click="modalm.onSubmit()">{{'ok'|translate}}</button>
        <button class="btn btn-warning" type="button" ng-click="modalm.cancel()">{{'cancle'|translate}}</button>
    </div>


</div>