
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header pull-left">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logoprop" href="#"><img src="http://eproperty.ge/images/eproperty.png" alt="logo" /></a>
        </div>
        <div class="pull-right userlogout"><user-panel-component></user-panel-component></div>
        <div id="navbar" class="collapse navbar-collapse pull-right">
            <ul class="nav navbar-nav">
                <li><a ng-link="['Home']">მთავარი</a></li>
                <li class="active"><a href="#">კომპანიები</a></li>

                <li><a ng-link="['Balance']">ბალანსი</a></li>
                <li><a  ng-link="['Map']">რუკა</a></li>  
                <li><a  ng-link="['Reports']">რეპორტები</a></li>    
                <li><a href="#contact">კონტაქტი</a></li>  

            </ul>

        </div><!--/.nav-collapse -->
        <div class="clr"></div>
    </div>
</nav>

<div class="container-fluid margin40">
    <ng-outlet></ng-outlet>
</div>

